<app-internal-nav-bar></app-internal-nav-bar>
<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="5000">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" style="height: 625px;">
            <div class="carousel-item active">
                <div class="overlay"></div>
                <img class="d-block w-100" src="../../../assets/images/slider-1.jpg">
            </div>
            <div class="carousel-item">
                <div class="overlay"></div>
                <img class="d-block w-100" src="../../../assets/images/slider-2.jpg">
            </div>
            <div class="carousel-item">
                <div class="overlay"></div>
                <img class="d-block w-100" src="../../../assets/images/slider-3.jpg">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

<button type="button" *ngIf="accountStatus" (click)="openDialog()" class="feedback-btn">Feedback</button>

<section>
    <div class="untree_co-section">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-6 mb-5">
                    <h2 class="text-secondary heading">Get Started Your Online Exam</h2>
                    <p>We help you create an online exam, facilitate the entery process for students to take the exam,
                        and provide the necessary technical support</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="row justify-content-center">
                        <div class="col-6 col-lg-3 mb-5 mb-lg-0">
                            <div class="service">
                                <div class="icon-wrap"><i class="bi bi-stopwatch"></i></div>
                                <div>
                                    <h3>Precision Timing</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 mb-5 mb-lg-0">
                            <div class="service">
                                <div class="icon-wrap"><i class="bi bi-shield-check"></i></div>
                                <div>
                                    <h3>More Secure</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 mb-5 mb-lg-0">
                            <div class="service">
                                <div class="icon-wrap"><i class="bi bi-bank"></i></div>
                                <div>
                                    <h3>Question Bank</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 mb-5 mb-lg-0">
                            <div class="service">
                                <div class="icon-wrap"><i class="bi bi-bar-chart-line"></i></div>
                                <div>
                                    <h3>Auto Summarization</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid px-4 mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12 heading-section text-center ftco-animate mb-5">
            <span class="subheading">What we offer</span>
            <h2 class="mb-2">Exclusive Offer For You</h2>
        </div>
    </div>

    <div class="col-12 mb-5 d-flex">
        <div class="main d-flex w-100 m-auto justify-content-center">
            <input type="text" class="rounded d-flex w-50" name="Search" [(ngModel)]='search' name="search"
                placeholder="Search...">
            <button class="btn search-btn d-flex w-auto" type="button">SEARCH</button>
        </div>
    </div>

    <swiper class="mySwiper" [slidesPerView]="3" [spaceBetween]="15" [pagination]="{
    clickable: false
  }" [loop]="loopStatues" [pagination]="false" [autoplay]="{
    delay: 2000
}" [navigation]="true">
        <ng-template *ngFor="let adInfo of adService.data | filter:search" swiperSlide>
            <app-advertisement-card [info]='adInfo'></app-advertisement-card>
        </ng-template>
    </swiper>
</section>

<div class="team-area ">
    <div class="container ">
        <div class="row ">
            <div class="col-md-12 ">
                <div class="section-title text-center ">
                    <h2>Our Team</h2>
                    <p>Meet Our telented Team Member</p>
                </div>
            </div>

            <!--== Single Team Item ==-->
            <div class="col-md-3 ">
                <div class="single-team ">
                    <div class="team-img ">
                        <img src="https://i.postimg.cc/1t2svTt5/1.jpg " alt=" " class="img-responsive ">
                    </div>
                    <div class="team-content ">
                        <div class="team-info ">
                            <h3>Lisa Ray</h3>
                            <p>Web Developer</p>
                        </div>
                        <p class="team-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quasi, vel.
                        </p>
                    </div>
                </div>
            </div>
            <!--== Single Team Item ==-->
            <div class="col-md-3 ">
                <div class="single-team ">
                    <div class="team-img ">
                        <img src="https://i.postimg.cc/qRPHs3bN/2.jpg " alt=" " class="img-responsive ">
                    </div>
                    <div class="team-content ">
                        <div class="team-info ">
                            <h3>Lisa Ray</h3>
                            <p>Web Developer</p>
                        </div>
                        <p class="team-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quasi, vel.
                        </p>
                    </div>
                </div>
            </div>
            <!--== Single Team Item ==-->
            <div class="col-md-3 ">
                <div class="single-team ">
                    <div class="team-img ">
                        <img src="https://i.postimg.cc/K80X9VpS/3.jpg " alt=" " class="img-responsive ">
                    </div>
                    <div class="team-content ">
                        <div class="team-info ">
                            <h3>Lisa Ray</h3>
                            <p>Web Developer</p>
                        </div>
                        <p class="team-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quasi, vel.
                        </p>
                    </div>
                </div>
            </div>
            <!--== Single Team Item ==-->
            <div class="col-md-3 ">
                <div class="single-team ">
                    <div class="team-img ">
                        <img src="https://i.postimg.cc/3JZzRVT4/4.jpg " alt=" " class="img-responsive ">
                    </div>
                    <div class="team-content ">
                        <div class="team-info ">
                            <h3>Lisa Ray</h3>
                            <p>Web Developer</p>
                        </div>
                        <p class="team-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quasi, vel.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>