@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('../course/course.component.css');

.center-text {
    top: 100%;
    position: absolute;
    color: #000;
    left: 0;
    text-align: center;
    right: 0;
    margin: auto;
    /* margin-bottom: 50%; */
}

.main input,
.search-btn {
    width: 75%;
    border: none;
    box-shadow: 5px 5px 15px #000;
    border-right: 0px;
    font-size: 18px;
    padding: 12px;
    /* background-color: transparent; */
    color: rgb(34, 31, 31);
    cursor: pointer;
}

.main button {
    width: 25%;
    background-color: #d70926;
    color: #fff;
    transition: all 0.3s;
    float: right;
    border-left: 0px;
}

.main button:hover {
    opacity: .8;
}

.main input:hover {
    opacity: .8;
}


/* swiper-slide */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Website Features */

.untree_co-section {
    padding: 70px 0
}

.untree_co-section .heading {
    font-size: 20px
}

.service {
    text-align: center
}

.service .icon-wrap {
    position: relative;
    margin-bottom: 20px;
    display: inline-block
}

.service .icon-wrap span {
    font-size: 50px;
    color: #016
}

.service .icon-wrap:before {
    top: 6px;
    left: -9px;
    width: 68px;
    height: 68px;
    position: absolute;
    content: "";
    background: rgba(18, 148, 127, .1);
    border-radius: 50%
}

.service h3 {
    font-size: 16px
}

.text-secondary {
    color: #016!important;
}

.service h3 a {
    color: #000
}


/* start OUR TEAM section */

.team-area {
    margin-bottom: 50px;
}

.section-title h2 {
    text-transform: uppercase;
}

.section-title {
    margin: 3% 0;
}

.section-title p {
    text-transform: uppercase;
    font-weight: bold;
}

.single-team {
    padding-bottom: 70px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 5px 5px 15px #000;
}

.team-img {
    position: relative;
    z-index: 5;
    overflow: hidden;
}

.team-img img {
    width: 100%;
    transition: .3s;
}

.single-team:hover .team-img img {
    transform: scale(1.1);
}

.team-content {
    height: 80px;
    width: 100%;
    position: absolute;
    text-align: center;
    overflow: hidden;
    bottom: 0;
    transition: all .4s;
    background: #d70926;
    z-index: 5;
}

.single-team:hover .team-content {
    height: 150px;
}

.team-info {
    padding: 5px 20px 5px 20px;
    transition: all .5s;
}

.single-team:hover .team-content {
    background: #000;
}

.single-team .team-content .team-info h3 {
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    margin: 5px;
}

.single-team:hover .team-info h3 {
    color: #d70926;
}

.team-info p {
    margin-top: 15px;
    color: #fff;
}

.single-team-text p {
    margin-top: 5px;
}

.team-text {
    color: #fff;
    padding: 0 10px 5px;
}


/* ignore the code below */

.link-area {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 15px;
    border-radius: 40px;
    background: #d70926;
    z-index: 10;
}

.link-area a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}


/* Feedback btn */

.feedback-btn {
    border: none;
    outline: none;
    position: fixed;
    font-size: 15px;
    background-color: #2d88ff;
    color: white;
    z-index: 5;
    top: 50px;
    right: -27px;
    transform: rotateZ( 90deg);
}

.slider-image-st {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 800px;
    width: 100%;
}

.icon-wrap i {
    font-size: 50px;
    color: #016;
    transition: 0.3s;
}

div.image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

div.overlay {
    position: absolute;
    background-color: black;
    opacity: 0.3;
    width: 100%;
    height: 100%;
}

div.service:hover i {
    color: #d70926;
    font-size: 55px;
}

div.service h3 {
    transition: 0.3s;
}

div.service:hover h3 {
    color: #d70926;
    font-weight: bold;
}

div.testi-img-container {
    height: 40px;
    width: 200px;
}

div.testimonial-transporter {
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #016;
    cursor: pointer;
    transition: 0.3s;
    opacity: 1;
    pointer-events: auto;
}

div.testimonial-transporter:hover {
    box-shadow: 1px 1px 3px 3px grey;
}

.disable-div {
    pointer-events: none !important;
    opacity: 0.5 !important;
}

textarea {
    resize: none;
    border-radius: 10px;
}

#feedbackSubmit {
    background-color: #016;
    color: white;
    border: solid #fff 1px;
    padding: 3px 10px;
    transition: 0.3s;
}

#feedbackSubmit:hover {
    background-color: #fff;
    color: #016;
    border-color: #016;
    box-shadow: 1px 1px 5px 1px #016;
}