
<section class="section">
    <div class="container">
      <div class="row">
        <!-- page content -->
        <div class="col-lg-12">
		  <div class="mid_center text-center text-center py-2 mt-1">
                <img src="../../../assets/images/dark-full-logo.svg" alt="" class="img-fluid" style="width: 13%;">
          </div>
          <div class="col-middle py-3 mt-2">
            <div class="text-center text-center">
              <h1 class="error-number text-danger">404</h1>
              <h2>Sorry but we couldn't find this page</h2>
              <p class="text-dark font-weight-bold">I do not think this page is where you think it is.</p>
              <a routerLink="/" class="btn btn-lg btn-main-2 mt-3">Back To Home</a>
            </div>
          </div>
        </div>
        <!-- /page content -->
      </div>
    </div>
</section>

