<mat-dialog-content class="mat-typography w-100">
    <div class="modal-header mb-3">
        <h5 style="font-family: 'Cairo', sans-serif; font-weight: bold; color: black;" class="modal-title"
            id="exampleModalLabel">Invoice Details</h5>
        <button type="button" class="close text-danger" mat-button mat-dialog-close="no">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>



    <div class="container bootstrap snippets bootdeys" id="section">
        <div class="row">
            <div class="col-lg-12 col-xl-12 px-5 bg-white py-2">
                <div class="panel panel-default invoice" id="print">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6 top-left">
                                <img class="img-fluid w-25"
                                    src="../../../assets/images/siteImage/{{homeService.dynamicData[0].logoDark}}" />
                            </div>
                            <div class="col-md-6 top-right">
                                <h3 class="marginright">INVOICE-{{ InvoiceId }}</h3>
                                <span class="marginright font-weight-bold" id="current">
                                    {{ currentDate | date:'medium' }}
                                </span>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4 from">
                                <p class="lead marginbottom font-weight-bold">From :
                                    {{homeService.dynamicData[0].webSiteName}}</p>
                                <p>Phone: {{homeService.dynamicData[0].phoneNumber}}</p>
                                <p>Email: {{homeService.dynamicData[0].email}}</p>
                            </div>

                            <div class="col-md-4 to">
                                <p class="lead marginbottom font-weight-bold">To : {{
                                    homeService.selectedUser[0].fullname }}</p>
                                <p>address : {{ homeService.selectedUser[0].address }}</p>
                                <p>Phone: 415-676-3600</p>
                                <p>Email: {{ homeService.selectedUser[0].email }}</p>

                            </div>

                            <div class="col-md-4 text-right payment-details">
                                <p class="lead marginbottom payment-info font-weight-bold">Payment details</p>
                                <p>Date: {{ InvoiceDetails.InvoiceCreationDate | date:'medium' }}</p>
                                <p>VAT: DK888-777 </p>
                                <p>Account Name: {{ InvoiceDetails.examName }}</p>
                            </div>
                        </div>

                        <div class="row table-row px-5">
                            <table class="table table-sm p-0">
                                <thead class="text-dark alert-info font-weight-bold">
                                    <tr>
                                        <th style="width:50%">Exam Name</th>
                                        <th class="text-right" style="width:15%">Exam Cost</th>
                                        <th class="text-right" style="width:20%">Exam purchase date</th>
                                    </tr>
                                </thead>
                                <tbody class="font-weight-bold">
                                    <tr>
                                        <td>{{ InvoiceDetails.examName }}</td>
                                        <td class="text-right">${{ InvoiceDetails.examCost }}</td>
                                        <td class="text-right">{{ InvoiceDetails.InvoiceCreationDate | date }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="row">
                            <div class="col-md-6 margintop">
                                <p class="lead marginbottom">
                                    <img src="../../../../assets/images/sign2.png" class="img-fluid w-25" alt="sign">
                                </p>
                            </div>
                            <div class="col-md-6 text-right pull-right invoice-total">
                                <p><b>Total: </b> ${{ InvoiceDetails.examCost }} </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button class="btn btn-sm btn-success" printSectionId="section" [useExistingCss]="true" ngxPrint><i
            class="fa fa-print"></i> Print Invoice</button>
</mat-dialog-actions>