@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

.card-wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

img {
    width: 100%;
    display: block;
}

.img-display {
    overflow: hidden;
}

.img-showcase {
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}

.img-showcase img {
    min-width: 100%;
}

.img-select {
    display: flex;
}

.img-item {
    margin: 0.3rem;
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
    margin-right: 0;
}

.img-item:hover {
    opacity: 0.8;
}

.product-content {
    padding: 2rem 1rem;
}

.product-title {
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}

.product-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}

.product-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}

.product-link:hover {
    opacity: 0.9;
}

.product-rating {
    color: #ffc107;
}

.product-rating span {
    font-weight: 600;
    color: #252525;
}

.product-price {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}

.product-price span {
    font-weight: 400;
}

.last-price span {
    color: #f64749;
    text-decoration: line-through;
}

.new-price span {
    color: #256eff;
}

.product-detail h2 {
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}

.product-detail p {
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}

.product-detail ul {
    margin: 1rem 0;
    font-size: 0.9rem;
}

.product-detail ul li {
    margin: 0;
    list-style: none;
    /* background: url(shoes_images/checked.png) left center no-repeat; */
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}

.product-detail ul li span {
    font-weight: 400;
}

.purchase-info {
    margin: 1.5rem 0;
}

.purchase-info input,
.purchase-info .btn {
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}

.purchase-info input {
    width: 60px;
}

.purchase-info .btn {
    cursor: pointer;
    color: #fff;
}

.purchase-info .btn:first-of-type {
    background: #256eff;
}

.purchase-info .btn:last-of-type {
    background: #f64749;
}

.purchase-info .btn:hover {
    opacity: 0.9;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}

.social-links a:hover {
    background: #000;
    border-color: transparent;
    color: #fff;
}

@media screen and (min-width: 992px) {
    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content {
        padding-top: 0;
    }
}

.hero-wrap {
    width: 100%;
    height: 700px;
    position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    z-index: 0
}

.hero-wrap .overlay,
.hero-wrap .overlay-2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: 1;
    background: #fff;
    background: rgba(255, 255, 255, .71);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, .71) 0%, rgba(255, 255, 255, 0) 50%, white 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, .71)), color-stop(50%, rgba(255, 255, 255, 0)), color-stop(100%, white));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, .71) 0%, rgba(255, 255, 255, 0) 50%, white 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, .71) 0%, rgba(255, 255, 255, 0) 50%, white 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, .71) 0%, rgba(255, 255, 255, 0) 50%, white 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .71)), color-stop(50%, rgba(255, 255, 255, 0)), to(white));
    background: linear-gradient(to bottom, rgba(255, 255, 255, .71) 0%, rgba(255, 255, 255, 0) 50%, white 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
    height: 700px;
    z-index: -1
}

.hero-wrap .overlay-2 {
    z-index: -2;
    background: #d4ca68;
    background: #d4c968;
    background: -moz-linear-gradient(left, #d4c968 0%, rgba(212, 201, 104, .9) 36%, rgba(212, 201, 104, .55) 50%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #d4c968), color-stop(36%, rgba(212, 201, 104, .9)), color-stop(50%, rgba(212, 201, 104, .55)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, #d4c968 0%, rgba(212, 201, 104, .9) 36%, rgba(212, 201, 104, .55) 50%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, #d4c968 0%, rgba(212, 201, 104, .9) 36%, rgba(212, 201, 104, .55) 50%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, #d4c968 0%, rgba(212, 201, 104, .9) 36%, rgba(212, 201, 104, .55) 50%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(linear, left top, right top, from(#d4c968), color-stop(36%, rgba(212, 201, 104, .9)), color-stop(50%, rgba(212, 201, 104, .55)), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(to right, #d4c968 0%, rgba(212, 201, 104, .9) 36%, rgba(212, 201, 104, .55) 50%, rgba(255, 255, 255, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#d4c968', endColorstr='#ffffff', GradientType=1);
    opacity: .7;
    width: 50%
}

.slider-text .breadcrumbs span {
    color: rgba(0, 0, 0, .7)
}

.slider-text .breadcrumbs span i {
    color: rgba(0, 0, 0, .5);
    font-size: 13px
}

.slider-text .breadcrumbs span a {
    color: rgba(0, 0, 0, .7)
}

.slider-text .breadcrumbs span a:hover,
.slider-text .breadcrumbs span a:focus {
    color: #d4ca68
}

.slider-text .breadcrumbs span a:hover i,
.slider-text .breadcrumbs span a:focus i {
    color: #d4ca68
}

.hero-wrap.hero-wrap-2 {
    height: 634px!important;
    position: relative
}

.hero-wrap.hero-wrap-2 .overlay,
.hero-wrap.hero-wrap-2 .overlay-2 {
    width: 100%;
    height: 700px
}

.hero-wrap.hero-wrap-2 .overlay-2 {
    opacity: .4;
    width: 50%
}

.hero-wrap.hero-wrap-2 .slider-text {
    height: 700px!important
}

.slider-text {
    height: 850px
}

.slider-text .bread {
    font-weight: 400!important;
    position: relative
}

.ftco-animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.slider-text .breadcrumbs {
    font-size: 14px;
    margin-bottom: 20px;
    z-index: 99;
    text-transform: uppercase;
    font-weight: 500
}

h1.mb-3.bread {
    PADDING: 256PX;
    FONT-SIZE: 50PX;
    TEXT-ALIGN: center;
}
