* {
    line-height: 1.5;
    font-family: sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.container-box {
    overflow: hidden;
    max-width: 1170px;
    margin: auto;
    line-height: 1.5;
    font-family: sans-serif;
}

img {
    width: var(--width);
    height: var(--height);
}

.gallery-center {
    margin-top: -55px;
    padding-left: 225px;
}


/*.gallery*/

.bg-image {
    /* width: 100%;
    height: 100%; */
    background: url('/assets/images/bg.jpg') no-repeat;
    background-size: cover;
}

.gallery {
    width: 100%;
    position: relative;
    min-height: 85vh;
    /* background-color: #313038; */
}

.gallery .gallery-filter {
    padding: 0 15px;
    width: 100%;
    z-index: 20;
    text-align: center;
    margin-bottom: 20px;
    padding: 100px 0;
}

.gallery .gallery-filter .filter-item {
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    line-height: 1.2;
    transition: all 0.3s ease;
}

.gallery .gallery-filter .filter-item.active {
    color: #ec7e18;
    border-color: #ca2020;
}

.gallery .gallery-item {
    width: calc(100% / 3);
    padding: 15px;
}


/* .gallery .gallery-item-inner img{
width: 100%;
}
.gallery .gallery-item.show{
animation: fadeIn 0.5s ease;
}
@keyframes fadeIn{
0%{
  opacity: 0;
}
100%{
  opacity: 1;
}
}*/

.gallery .gallery-item.hide {
    display: none;
}


/*responsive*/

@media(max-width: 991px) {
    .gallery .gallery-item {
        width: 50%;
    }
}

@media(max-width: 767px) {
    .gallery .gallery-item {
        width: 100%;
    }
    .gallery .gallery-filter .filter-item {
        margin-bottom: 10px;
    }
}


/* clipped-border */

.clipped-border {
    -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    padding: 5px;
    background: linear-gradient(grey, lightgrey);
    width: var(--border-width);
    height: var(--border-height);
    max-height: 180px;
    max-width: 180px;
    height: var(--height);
    width: var(--width);
    transition: transform 0.2s;
    position: absolute;
    cursor: pointer;
}

.clipped-border:before {
    content: '';
    position: absolute;
    opacity: 0.5;
    width: 350px;
    height: 70px;
    background: white;
    top: 0;
    left: 0;
    z-index: 1;
    transform: rotate(45deg);
    transition: transform 0.5s;
}

.clipped-border:hover:before {
    transform: translate(-100px, 400%) rotate(45deg);
    transition: transform 0.5s;
}

.clipped-border:nth-child(1) {
    top: 149px;
    left: 85px;
}

.clipped-border:nth-child(2) {
    top: 0;
    left: 172px;
}

.clipped-border:nth-child(3) {
    top: 149px;
    left: 257px;
}

.clipped-border:nth-child(4) {
    top: 0;
    left: 344px;
}

.clipped-border:nth-child(5) {
    top: 149px;
    left: 431px;
}

.clipped-border:nth-child(6) {
    top: 0px;
    left: 515px;
}

.clipped-border:nth-child(7) {
    top: 298px;
    left: 343px;
}

.clipped-border:nth-child(8) {
    top: 298px;
    left: 170px;
}

#clipped {
    -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

.clipped-border:hover {
    transform: scale(1.2);
    transition: transform 0.2s;
    z-index: 10;
}

@media screen and (max-width:500px) {
    .clipped-border {
        width: 100px;
        height: 100px;
    }
    .clipped-border:nth-child(1) {
        top: 0;
        left: 100px;
    }
    .clipped-border:nth-child(2) {
        left: 200px;
    }
    .clipped-border:nth-child(3) {
        top: 82px;
        left: 50px;
    }
    .clipped-border:nth-child(4) {
        top: 82px;
        left: 150px;
    }
    .clipped-border:nth-child(5) {
        top: 0px;
        left: 150px;
    }
}
