<section
    style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.0)), url('../../../assets/images/{{homeService.dynamicData[0].headerBackgroud}}');"
    class="hero-wrap hero-wrap-2 ftco-degree-bg js-fullheight cus-img" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="overlay-2"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 mb-5 text-center">
                <h1 class="mb-3 bread">{{pageName}}</h1>
                <p class="breadcrumbs"><span><a routerLink="">Home</a></span> | <span>{{pageName}} <i
                            class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>
