<mat-dialog-content class="mat-typography">
    <div class="modal-header mb-3">
        <h5 style="font-family: 'Cairo', sans-serif; font-weight: bold; color: black;" class="modal-title" id="exampleModalLabel">CERTIFICATE</h5>
        <button type="button" class="close text-danger" mat-button mat-dialog-close="no">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div id="section">

        <svg width="1000" height="1000" viewBox="0 0 1500 1500" class=" rounded" style="border-style: double;border-width: 5px;border-color: #618597;">
      <defs>
      <!-- Assign space and position for Company Logo -->
      <clipPath id="clip-path">
          <rect id="Rectangle_73" class="cls-1" width="300" height="300"/>
      </clipPath>
      <linearGradient id="linear-gradient" x1="0.048" y1="0.5" x2="0.963" y2="0.5" gradientUnits="objectBoundingBox">
          <stop offset="0" stop-color="#000000"/>
          <stop offset="1" stop-color="#001166"/>
      </linearGradient>
      <clipPath id="clip-path-5">
          <rect id="Rectangle_79" class="cls-2" width="112" height="109" transform="translate(541 1246)"/>
      </clipPath>
      <!-- Assign space and position for signature -->
      <clipPath id="clip-path-6">
          <rect id="Rectangle_78" class="cls-2" width="300" height="300"/>
      </clipPath>
      <!-- Assign space and position for QR Code-->
      <clipPath id="clip-path-7">
          <rect id="Rectangle_77" class="cls-1" width="230.947" height="230.947"/>
      </clipPath>
      <!-- Assign space and position for QR Code-->
      <clipPath id="clip-path-8">
          <rect id="Rectangle_76" class="cls-1" width="260.462" height="270.788"/>
      </clipPath>
      <clipPath id="clip-Artboard_2">
          <rect width="1500" height="1500"/>
      </clipPath>
      <!-- Assign image to Company logo -->
      <pattern id="pattern" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 300 300">
          <image width="300" height="300" xlink:href="../../../../assets/images/dark-full-logo.svg"/>
      </pattern>
      <!-- Assign image to Signature -->
      <pattern id="pattern-1" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 350 150">
          <image width="356" height="150" xlink:href="../../../../assets/images/sign2.png"/>
      </pattern>
      <!-- Assign image for QR Code-->
      <pattern id="pattern-3" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 350 350">
          <image width="350" height="350" x="0" y="0" xlink:href="../../../../assets/images/certif.jpg"/>
      </pattern>
      </defs>
      <g id="Artboard_2" class="cls-3">
      <rect class="cls-29" width="1500" height="1500"/>
      <g id="left-image" transform="translate(-222.941 79.324)">
          <path id="left-shape-1" class="cls-4" d="M222.941-79.324h282l-282,986Z"/>
          <path id="left-shape-2" class="cls-5" d="M504.941,466.676H348.783l-125.842,440v56Z"/>
          <path id="left-shape-3" class="cls-6" d="M425.7,197.749,348.783,466.676H504.941Z"/>
      </g>
      <g id="right-image" transform="translate(1.677 -2.588)">
          <path id="right-shape-1" class="cls-4" d="M1498.823,101.588l-371.5,1401h371.5Z"/>
          <path id="right-shape-2" class="cls-6" d="M1241.323,539.588H1382.68l-71.926,271.247Z"/>
          <path id="right-shape-3" class="cls-5" d="M1498.823,54.588l-257.5,485H1382.68l116.143-438Z"/>
          <path id="right-shape-4" class="cls-7" d="M1383.823,2.588l-142.5,537,257.5-485v-52Z"/>
      </g>
      <!-- Assign space and position for Signature -->
      <g id="company-logo" transform="translate(800 1200)">
          <g id="Group_291" class="cls-24" transform="translate(0 0)">
              <rect id="Rectangle_71" class="cls-25" width="280" height="150"/>
          </g>
      </g>
      <!-- Assign space and position for company logo -->
      <g id="company-logo-2" transform="translate(620 60)">
          <g id="Group_291-2" class="cls-8" transform="translate(0 0)">
              <rect id="Rectangle_71-2" class="cls-9" width="300" height="300"/>
          </g>
      </g>
      <text id="CERTIFICATE" class="cls-10" transform="translate(750 420.162)"><tspan x="0" y="0" dominant-baseline="middle" text-anchor="middle">CERTIFICATE</tspan></text>
      <text id="OF_COMPLETION" class="cls-13" transform="translate(750 515.662)"><tspan x="0" y="0" dominant-baseline="middle" text-anchor="middle">OF COMPLETION</tspan></text>
      <text id="STUDENT_NAME" class="cls-14 font-weight-bold" transform="translate(750 671.662)"><tspan x="0" y="0" dominant-baseline="middle" text-anchor="middle">{{ homeService.selectedUser[0].fullname }}</tspan></text>
      <text id="HAS_SUCCESSFULLY_COMPLEATED" class="cls-15" transform="translate(750 746)"><tspan x="0" y="0" dominant-baseline="middle" text-anchor="middle">has successfully passed</tspan></text>
      <text id="COURSE_NAME" class="cls-16" transform="translate(750 825.377)"><tspan x="0" y="0" dominant-baseline="middle" text-anchor="middle">{{ CertificateDetails.examName }} held in {{ CertificateDetails.examDate | date}}</tspan></text>
      <text id="course_by:" class="cls-15" transform="translate(750 940)"><tspan x="0" y="0" dominant-baseline="middle" text-anchor="middle">Exam by:</tspan></text>
      <text id="ORGANIZATION_NAME" class="cls-17 font-weight-bold" transform="translate(750 990)"><tspan x="0" y="0" dominant-baseline="middle" text-anchor="middle">Plus Exam</tspan></text>
      <g id="Group_302" transform="translate(580 51)">
          <rect id="Rectangle_74" class="cls-18" width="336" height="96" rx="48" transform="translate(0 1028)"/>
          <text id="PASSED" class="cls-19" transform="translate(170 1080)"><tspan x="0" y="0" dominant-baseline="middle" text-anchor="middle">PASSED</tspan></text>
      </g>
      <g id="Group_300" transform="translate(0 21)">
          <g id="Group_298" transform="translate(0 41.5)">
          <text id="AUTHOR_DESIGNATION" class="cls-20" transform="translate(960 1352.696)"><tspan x="0" y="0" dominant-baseline="middle" text-anchor="middle">Plus Exam</tspan></text>
          <text id="AUTHOR_NAME" class="cls-21" transform="translate(960 1300)"><tspan x="0" y="0" dominant-baseline="middle" text-anchor="middle">Author Name</tspan></text>
          </g>
          <g id="Group_303" transform="translate(308.333 41.5)">
          <text id="DATE" class="cls-22" transform="translate(1018.667 1352.696)"><tspan x="0" y="0" dominant-baseline="middle" text-anchor="middle">DATE</tspan></text>
          <text id="CERTIFICATE_DATE" class="cls-23" transform="translate(1018.667 1300)"><tspan x="0" y="0" dominant-baseline="middle" text-anchor="middle">{{ CertificateDetails.CertificateDate | date}}</tspan></text>
          </g>
          <g id="Group_299" transform="translate(-827 41.5)">
          <text id="CERTIFICATE_NUMBER" class="cls-21" transform="translate(1044 1300)"><tspan x="0" y="0" dominant-baseline="middle" text-anchor="middle">A0B2C3D4</tspan></text>
          <text id="CERTIFICATE_NUMBER_TEXT" class="cls-20" transform="translate(1044 1352.696)"><tspan x="0" y="0" dominant-baseline="middle" text-anchor="middle">Certificate Number</tspan></text>
          </g>
          <!-- Assign space and position for QR code -->
          <g id="qrcode" transform="translate(540 1250)">
              <g id="Group_295" class="cls-27" transform="translate(0 0)" dominant-baseline="middle" text-anchor="middle">
                  <rect id="Rectangle_75" class="cls-28" width="150" height="150"/>
              </g>
          </g>
      </g>
      </g>
      </svg>
      </div>

</mat-dialog-content>


<mat-dialog-actions align="end">
    <button class="btn btn-sm btn-success" printSectionId="section" [useExistingCss]="true" ngxPrint><i class="fa fa-print"></i> Print Invoice</button>
</mat-dialog-actions>
