<div class="dark-edition">
    <div class="wrapper">
        <app-side-bar></app-side-bar>
        <div class="main-panel">
            <app-nav-bar></app-nav-bar>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div *ngFor="let user of userService.users | paginate: { itemsPerPage: 3, currentPage: page }" class="col-lg-4 col-md-6 col-sm-12">
                            <app-user-card [userInfo]="user"></app-user-card>
                        </div>
                    </div>
                    <pagination-controls [responsive]="true" class="text-center text-white" (pageChange)="page = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>