<app-internal-nav-bar></app-internal-nav-bar>
<app-header pageName="Contact Us"> </app-header>
<div class="container">
    <div class="row d-flex mb-2 contact-info justify-content-center">
        <div class="col-md-8">
            <div class="row mb-5">
                <div *ngFor="let item of contactUsInfo" class="col-md-4 text-center py-4">
                    <div class="icon mb-3 d-flex align-items-center justify-content-center">
                        <i class="{{item.icon}}"></i>
                    </div>
                    <h5 style="color: #001166;">{{ item.title }}</h5>
                    <span>{{ item.subtitle }}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<app-contact-us-form></app-contact-us-form>

<app-footer></app-footer>