<div class="container">

    <div class="row min-height-700">

        <!-- Exam Main Information Container -->
        <div class="col-11 col-sm-11 col-md-11 col-lg-6 col-xl-6 mb-sm-0 cus-border min-height-700 mx-auto">
            <div class="row mt-5">

                <!-- Exam Image Container -->
                <div class="container m-3">

                    <!-- Exam Image -->
                    <div class="ex-img m-auto" title="Exam Image"
                        style="background-image: url('../../../../assets/images/about-us-bg.jpg');"></div>

                </div>

                <!-- Exam Title Container -->
                <div class="container m-3">

                    <!-- Exam Title -->
                    <h2 class="text-center" title="Exam Name">
                        Python 101
                    </h2>

                </div>

                <!-- Course Name Container -->
                <div class="container mb-3">
                    <h4 class=" text-center" title="Course Name">
                        Python
                    </h4>
                </div>

                <!-- Exam Description Container -->
                <div class="container mb-3">
                    <p class=" text-center" title="Exam Description">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem soluta ab quod earum
                        ratione, sunt dicta expedita, officiis pariatur mollitia perspiciatis accusantium
                        facilis neque saepe ducimus suscipit quas et nisi eum repellendus error ad, animi
                        repellat distinctio! Nesciunt dolor similique corporis dicta cupiditate eum laudantium
                        eos ipsum, deserunt quam minima necessitatibus expedita ullam nam ea ab minus.
                        Repellendus, tempora maxime?
                    </p>
                </div>

                <!-- Buy Exam Or Enter Exam Container -->
                <div class="container mb-3">
                    <button type="button" class="btn btn-primary d-block mx-auto">Buy Now</button>
                </div>

            </div>
        </div>

        <div class="col-11 col-sm-11 col-md-11 col-lg-6 col-xl-6 mt-sm-5 mt-md-5 mt-5 mt-lg-0 mx-auto"
            style="height: 700px;">

            <!-- Information Container -->
            <div class="row h-100" style="overflow-y: hidden;">

                <!-- Expand Button -->
                <div class=" expand-btn-cont">
                    <button class="btn btn-primary expand-btn d-block mx-auto"
                        style="width: 50px; height: 50px; border-radius: 50%;" onclick="expandExamInformation()">
                        <i class="fas fa-chevron-down" id="expandInf"></i>
                    </button>
                </div>

                <div class="w-100" id="examInfContainer">

                    <ul class="list-group">

                        <!-- Date -->
                        <li>
                            <div class="w-100 cus-row d-flex">
                                <div class="col-6">
                                    Date
                                </div>

                                <div class="col-6 text-left">
                                    6 JUN 2022 - 7 JUN 2022
                                </div>
                            </div>
                        </li>

                        <!-- Time -->
                        <li>
                            <div class="w-100 cus-row d-flex">
                                <div class="col-6">
                                    Time
                                </div>

                                <div class="col-6 text-left">
                                    13:30 - 14:45
                                </div>
                            </div>
                        </li>

                        <!-- Duration -->
                        <li>
                            <div class="w-100 cus-row d-flex">
                                <div class="col-6">
                                    Duration
                                </div>

                                <div class="col-6 text-left">
                                    75 Minutes
                                </div>
                            </div>
                        </li>

                        <!-- Number Of Questions -->
                        <li>
                            <div class="w-100 cus-row d-flex">
                                <div class="col-6">
                                    Number Of Questions
                                </div>

                                <div class="col-6 text-left">
                                    80 Question
                                </div>
                            </div>
                        </li>

                        <!-- Success Mark -->
                        <li>
                            <div class="w-100 cus-row d-flex">
                                <div class="col-6">
                                    Success Mark
                                </div>

                                <div class="col-6 text-left">
                                    50%
                                </div>
                            </div>
                        </li>

                        <!-- Number Of Registered -->
                        <li>
                            <div class="w-100 cus-row d-flex">
                                <div class="col-6">
                                    Number Of Registered
                                </div>

                                <div class="col-6 text-left">
                                    53246
                                </div>
                            </div>
                        </li>

                        <!-- Exam Level -->
                        <li>
                            <div class="w-100 cus-row d-flex">
                                <div class="col-6">
                                    Exam Level
                                </div>

                                <div class="col-6 text-left">
                                    Beginner
                                </div>
                            </div>
                        </li>

                        <!-- Cost -->
                        <li>
                            <div class="w-100 cus-row d-flex">
                                <div class="col-6">
                                    Cost
                                </div>

                                <div class="col-6 text-left">
                                    $70.5
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>

        </div>
    </div>

</div>