<app-internal-nav-bar></app-internal-nav-bar>
<app-header [pageName]="homeService.exams.title"></app-header>

<div class="container my-5">

    <div class="row min-height-700">

        <!-- Exam Main Information Container -->
        <div class="col-11 col-sm-11 col-md-11 col-lg-6 col-xl-6 mb-sm-0 cus-border min-height-700 mx-auto">
            <div class="row mt-5">

                <!-- Exam Image Container -->
                <div class="container m-3">

                    <!-- Exam Image -->
                    <div class="ex-img m-auto" title="Exam Image"
                        style="background-image: url('../../../../assets/images/exam_images/{{ homeService.exams.examImage }}');">
                    </div>

                </div>

                <!-- Exam Title Container -->
                <div class="container m-3">

                    <!-- Exam Title -->
                    <h2 class="text-center" title="Exam Name">
                        {{ homeService.exams.title | titlecase }}
                    </h2>

                </div>

                <!-- Course Name Container -->
                <div class="container mb-3">
                    <h4 class=" text-center" title="Course Name">
                        {{ homeService.exams.courseName | titlecase }}
                    </h4>
                </div>

                <!-- Exam Description Container -->
                <div class="container mb-3">
                    <p class=" text-center" title="Exam Description">
                        {{ homeService.exams.description}}
                    </p>
                </div>

                <!-- User is Examined -->
                <div *ngIf="isExamined; else isNotExamined" class="container mx-5 p-4 submitted-container">
                    <div class="row justify-content-around h-100">
                        <div class="row col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 flex-column justify-content-center"
                            style="color: #818181;">
                            <div class="container">
                                <div class="text-center" style="font-size: 0.8rem;">
                                    Your answer submitted at
                                </div>
                            </div>

                            <div class="container">
                                <div class="text-center" style="font-size: 0.9rem;">
                                    {{ homeService.score.creationDate | date: 'medium' }}
                                </div>
                            </div>
                        </div>

                        <div class=" row col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 flex-column justify-content-center"
                            style="color: #818181;">
                            <div class="container">
                                <div class="text-center" style="font-size: 0.8rem;">
                                    Your mark
                                </div>
                            </div>

                            <!-- Mark is permitted yet (SHOW) -->
                            <div class="container" *ngIf="homeService.exams.markStatus === 'SHOW'; else markIsHide">
                                <div class="text-center" style="font-weight: bolder;">

                                    <!-- User Score Is Less Than Success Mark -->
                                    <span style="color: #d70926" title="Fail"
                                        *ngIf="homeService.score.grade < homeService.exams.successMark; else isSuccess">
                                        {{ homeService.score.grade }}%
                                    </span>

                                    <!-- User Score Is Greater Or Equal Success Mark -->
                                    <ng-template #isSuccess>
                                        <span style="color: #006e00" title="Success">
                                            {{ homeService.score.grade }}%
                                        </span>
                                    </ng-template>
                                </div>
                            </div>

                            <!-- Mark is not permitted yet (HIDE) -->
                            <ng-template #markIsHide>
                                <div class="container" *ngIf="homeService.exams.markStatus === 'HIDE'">
                                    <div class="text-center" style="font-size: 0.9rem;">
                                        Marks not permitted yet
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>

                </div>

                <!-- User is not Examine yet -->
                <ng-template #isNotExamined>
                    <!-- Buy Exam Or Enter Exam Container -->
                    <div class="container mb-30" *ngIf="timerExam != 'EXPIRED'">
                        <div class="container mb-30" *ngIf="!isLogin; else isLoginTrue">
                            <button type="button" class="btn btn-primary d-block mx-auto" (click)="moveToLogin()">Sign
                                In</button>
                        </div>

                        <ng-template #isLoginTrue>
                            <div class="container mb-30" *ngIf="homeService.isBoughtExam && timerStatus =='ENDS AFTER'">
                                <button type="button" class="btn btn-primary d-block mx-auto"
                                    (click)="moveToExam()">Enter
                                    Now</button>
                            </div>

                            <div class="container mb-30"
                                *ngIf="!homeService.isBoughtExam && timerStatus =='ENDS AFTER'">
                                <button type="button" class="btn btn-primary d-block mx-auto">Buy
                                    Now</button>
                            </div>

                            <div class="container mb-30"
                                *ngIf="!homeService.isBoughtExam && timerStatus =='START AFTER'">
                                <button type="button" class="btn btn-primary d-block mx-auto">Buy
                                    Now</button>
                            </div>
                        </ng-template>

                    </div>

                    <!-- Buy Exam Or Enter Exam Container -->
                </ng-template>



                <!-- Exam Timer -->
                <div class="container mt-3">
                    <div class="row justify-content-center flex-column py-2"
                        *ngIf="timerStatus == 'ENDS AFTER' || timerStatus == 'START AFTER'">

                        <span class="text-center mr-3">
                            {{ timerStatus }}
                        </span>


                        <b class="font-family-digital text-center">
                            {{ timerExam }}
                        </b>
                    </div>

                    <div class="row justify-content-center py-3" *ngIf="timerStatus === undefined">
                        <b style="font-size: 1.5rem;">{{ timerExam }}</b>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-11 col-sm-11 col-md-11 col-lg-6 col-xl-6 mt-sm-5 mt-md-5 mt-5 mt-lg-0 mx-auto"
            style="height: 700px;">

            <!-- Information Container -->
            <div class="row h-100" style="overflow-y: hidden;">

                <!-- Expand Button -->
                <div class=" expand-btn-cont">
                    <button class="btn btn-primary expand-btn d-block mx-auto"
                        style="width: 50px; height: 50px; border-radius: 50%;" (click)="expandExamInformation()">
                        <i class="fas fa-chevron-down" id="expandInf"></i>
                    </button>
                </div>

                <div class="w-100" id="examInfContainer">

                    <ul class="list-group">

                        <!-- Date -->
                        <li>
                            <div class="w-100 cus-row d-flex">
                                <div class="col-6">
                                    Date
                                </div>

                                <div class="col-6 text-left">
                                    {{ homeService.exams.startDate | date : 'mediumDate' }} - {{
                                    homeService.exams.endDate | date : 'mediumDate' }}
                                </div>
                            </div>
                        </li>

                        <!-- Time -->
                        <li>
                            <div class="w-100 cus-row d-flex">
                                <div class="col-6">
                                    Time
                                </div>

                                <div class="col-6 text-left">
                                    {{ homeService.exams.startDate | date : 'HH:mm' }} - {{
                                    homeService.exams.endDate | date : 'HH:mm' }}
                                </div>
                            </div>
                        </li>

                        <!-- Duration -->
                        <li>
                            <div class="w-100 cus-row d-flex">
                                <div class="col-6">
                                    Duration
                                </div>

                                <div class="col-6 text-left">
                                    {{ getExamDuration() }} Minutes
                                </div>
                            </div>
                        </li>

                        <!-- Number Of Questions -->
                        <li>
                            <div class="w-100 cus-row d-flex">
                                <div class="col-6">
                                    Number Of Questions
                                </div>

                                <div class="col-6 text-left">
                                    {{ homeService.exams.numberOfQuestions }} Questions
                                </div>
                            </div>
                        </li>

                        <!-- Success Mark -->
                        <li>
                            <div class="w-100 cus-row d-flex">
                                <div class="col-6">
                                    Success Mark
                                </div>

                                <div class="col-6 text-left">
                                    {{ homeService.exams.successMark }}%
                                </div>
                            </div>
                        </li>

                        <!-- Number Of Registered -->
                        <li>
                            <div class="w-100 cus-row d-flex">
                                <div class="col-6">
                                    Number Of Registered
                                </div>

                                <div class="col-6 text-left">
                                    {{ getNumberOfRegisteredUsers() }}
                                </div>
                            </div>
                        </li>

                        <!-- Exam Level -->
                        <li>
                            <div class="w-100 cus-row d-flex">
                                <div class="col-6">
                                    Exam Level
                                </div>

                                <div class="col-6 text-left">
                                    {{ homeService.exams.examLevel }}
                                </div>
                            </div>
                        </li>

                        <!-- Cost -->
                        <li>
                            <div class="w-100 cus-row d-flex">
                                <div class="col-6">
                                    Cost
                                </div>

                                <div class="col-6 text-left">
                                    ${{ homeService.exams.cost }}
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>

        </div>
    </div>

</div>

<app-footer></app-footer>