<div class="container-box">
    <div class="user-card front-face">
        <img src="https://localhost:44359/resc/AdvsImg/{{cardInfo.imageSrc[0]}}">
    </div>
    <div class="user-card back-face">
        <img src="https://localhost:44359/resc/AdvsImg/{{cardInfo.imageSrc[0]}}">

        <div class="title text-center">
            <h4>{{cardInfo.advTitle}}</h4>
        </div>
        <ul>
            <li class="mr-3"><i class="fal fa-bed mr-2"></i>{{cardInfo.numOfRooms}}</li>
            <li class="mr-3"><i class="fal fa-bath mr-2"></i>{{cardInfo.numOfBathrooms}}</li>
            <li class="mr-3"><i class="fal fa-home mr-2"></i>{{cardInfo.landArea}} sqft</li>
        </ul>

        <span class="h5">{{cardInfo.price}}/mo</span>

    </div>
</div>