[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon'!important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

::selection {
    color: #fff;
    background: #1cc7d0;
}

.container-box {
    height: 400px;
    width: 320px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    padding-top: 50px;
    align-items: center;
}

.container-box .user-card {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    transform: translateY(0deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    /* box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1); */
    box-shadow: 5px 5px 15px #000;
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.container-box:hover>.front-face {
    transform: rotateY(-180deg);
}

.container-box .user-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.container-box .back-face {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    transform: rotateY(180deg);
}

.container-box:hover>.back-face {
    transform: rotateY(0deg);
}

.container-box .back-face img {
    height: 150px;
    width: 150px;
    padding: 5px;
    border-radius: 50%;
    background: linear-gradient(375deg, #1cc7d0, #2ede98);
}

.back-face .title {
    font-size: 30px;
    font-weight: 500;
}

.back-face ul {
    display: flex;
    list-style: none;
}

.back-face ul a {
    display: block;
    height: 40px;
    width: 40px;
    color: #fff;
    text-align: center;
    margin: 0 5px;
    border: 2px solid transparent;
    border-radius: 50%;
    background: linear-gradient(375deg, #1cc7d0, #2ede98);
    transition: all 0.5s ease;
}

.back-face ul a:hover {
    color: #1cc7d0;
    border-color: #1cc7d0;
    background: linear-gradient(375deg, transparent, transparent);
}
