<app-internal-nav-bar></app-internal-nav-bar>
<app-header pageName="About Us"></app-header>

<section class="ftco-section pb-0">
    <div class="container">
        <div class="row no-gutters">
            <div style="background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.0)), url('../../../assets/images/about-us-bg.jpg') top center no-repeat;
            background-position: center;
            background-attachment: fixed;
            background-size: cover;
            background-repeat: no-repeat;" class="bgImage col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center">
            </div>
            <div class="col-md-6 wrap-about py-md-5">
                <div class="heading-section p-md-5">
                    <h2 class="mb-4" style="color: #001166; font-family: 'Nuosu SIL', serif;">About PlusExam</h2>
                    <p style="font-family: 'Fascinate Inline', cursive;">{{home.homePage[0].aboutParagraph}}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<app-service-card></app-service-card>

<app-footer></app-footer>
