<app-internal-nav-bar></app-internal-nav-bar>
<app-header pageName="About Us"></app-header>

<section class="ftco-section pb-0">
    <div class="container">
        <div class="row no-gutters">
            <div class="bgImage col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center">
            </div>
            <div class="col-md-6 wrap-about py-md-5">
                <div class="heading-section p-md-5">
                    <h2 class="mb-4" style="color: #001166; font-family: 'Nuosu SIL', serif;">About PlusExam</h2>
                    <p style="font-family: 'Fascinate Inline', cursive;">Plusexam is an Online Examination system, brought to you by MAYH Webs Pvt. Ltd. It was designed with a mission to strive for excellence, with an expertise in driving assessments in the educational domain. We prioritize quality customer experience with a goal to conduct test online assuring minimal human-intervention.</p>
                    <p style="font-family: 'Fascinate Inline', cursive;">We provide the management of examination and assessment, using an advanced hassle-free transactional interface. The streamlined process flow help with the easy creation of tests, circulation of products, calculation of scores, etc. It provides development of an improved communication link in-between the assessor and the assessee..</p>
                </div>
            </div>
        </div>
    </div>
</section>

<app-service-card></app-service-card>

<app-footer></app-footer>