<app-internal-nav-bar></app-internal-nav-bar>
<app-header pageName="About Us"></app-header>

<section class="ftco-section pb-0">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image:url(assets/images/image_6.jpg)">
            </div>
            <div class="col-md-6 wrap-about py-md-5">
                <div class="heading-section p-md-5">
                    <h2 class="mb-4">We Put People First.</h2>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text
                        should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her
                        into their agency, where they abused her for their.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<app-service-card></app-service-card>

<app-footer></app-footer>