<div class="services mt-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <div class="section_subtitle"></div>
                    <div class="section_title">
                        <h1>OUR SERVICES</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row services_row">

            <div class="col-xl-4 col-md-6">
                <div class="service">
                    <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="service_icon d-flex flex-column align-items-start justify-content-center">
                            <img src="images/service_1.png" alt="">
                        </div>
                        <div class="service_title">
                            <h3>Consulting</h3>
                        </div>
                    </div>
                    <div class="service_text">
                        <p>Nulla aliquet bibendum sem, non placer risus venenatis at. Prae sent vulputate bibendum dictum.</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6">
                <div class="service">
                    <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="service_icon d-flex flex-column align-items-start justify-content-center">
                            <img src="images/service_2.png" alt="">
                        </div>
                        <div class="service_title">
                            <h3>Real estate sales</h3>
                        </div>
                    </div>
                    <div class="service_text">
                        <p>Aliquet bibendum sem, non placerat risus venenatis at. Prae sent vulputate bibendum dictum. Cras at vehicula.</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6">
                <div class="service">
                    <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="service_icon d-flex flex-column align-items-start justify-content-center">
                            <img src="images/service_3.png" alt="">
                        </div>
                        <div class="service_title">
                            <h3>Renting</h3>
                        </div>
                    </div>
                    <div class="service_text">
                        <p>Nulla aliquet bibendum sem, non placerat risus venenatis at. Prae sent vulputate bibendum dictum.</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6">
                <div class="service">
                    <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="service_icon d-flex flex-column align-items-start justify-content-center">
                            <img src="images/service_4.png" alt="">
                        </div>
                        <div class="service_title">
                            <h3>Meditation</h3>
                        </div>
                    </div>
                    <div class="service_text">
                        <p>Aliquet bibendum sem, non placerat risus venenatis at. Prae sent vulputate bibendum dictum. Cras at vehicula.</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6">
                <div class="service">
                    <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="service_icon d-flex flex-column align-items-start justify-content-center">
                            <img src="images/service_5.png" alt="">
                        </div>
                        <div class="service_title">
                            <h3>Evaluation</h3>
                        </div>
                    </div>
                    <div class="service_text">
                        <p>Bibendum sem, non placerat risus venenatis at. Prae sent vulputate bibendum dictum. Cras at vehicula.</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6">
                <div class="service">
                    <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="service_icon d-flex flex-column align-items-start justify-content-center">
                            <img src="images/service_6.png" alt="">
                        </div>
                        <div class="service_title">
                            <h3>Price Consulting</h3>
                        </div>
                    </div>
                    <div class="service_text">
                        <p>Aliquet bibendum sem, non placerat risus venenatis at. Prae sent vulputate bibendum dictum. Cras at vehicula.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>