.main {
    margin: auto;
    width: 50%;
    padding-top: 100px;
}

.mb-74 {
    margin-bottom: 74px;
}

.main input,
button {
    width: 75%;
    border: none;
    box-shadow: 5px 5px 15px #000;
    border-right: 0px;
    font-size: 18px;
    padding: 12px;
    /* background-color: transparent; */
    color: rgb(34, 31, 31);
    cursor: pointer;
}

.main input:hover {
    opacity: .8;
}

.main button {
    width: 25%;
    background-color: rgb(238, 199, 199);
    color: black;
    transition: all 0.3s;
    float: right;
    border-left: 0px;
}

.main button:hover {
    opacity: .8;
}
