<app-header pageName="Advertisement"></app-header>

<div class="main">
    <input type="text" class="rounded" name="Search" placeholder="Search...">
    <button class="rounded" type="button">SEARCH</button>
</div>

<div class="container mb-5">
    <div class="row mb-74">
        <div *ngFor="let info of adService.data | paginate: { itemsPerPage: 6, currentPage: page }" class="col-lg-4 mb-4">
            <app-all-advertisement-card [cardInfo]="info"></app-all-advertisement-card>
        </div>
    </div>
    <pagination-controls [responsive]="true" class="text-center text-white" (pageChange)="page = $event"></pagination-controls>
</div>

<app-footer></app-footer>