<div class="dark-edition">
    <div class="sidebar bg-white font-weight-bold" data-color="azure" data-background-color="dark" data-image="/assets/admin-dashboard/img/sidebar-1.jpg">
       
        <div class="logo">
            <a routerLink="/admin/dashboard" class="simple-text logo-normal">
                <img src="../../../assets/images/dark-full-logo.svg" width="82" height="82" />
                <span style="color:#001166; font-weight: bold; margin-left: 20px;">Plus Exam</span> 
             </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <div class="menu_section">
                    <h3>Home</h3>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/admin/dashboard">
                            <i class="material-icons" style="color: #001166;">dashboard</i>
                            <p >Dashboard</p>
                        </a>
                    </li>
                </div>
            
                <div class="menu_section">
                    <h3>General</h3>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/admin/advertisement">
                            <i class="fa fa-book" style="color: #001166;"></i>
                            <p>Courses</p>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/admin/contactMassage">
                            <i class="material-icons" style="color: #001166;">library_books</i>
                            <p>Exams</p>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/admin/rentReport">
                            <i class="material-icons" style="color: #001166;">library_books</i>
                            <p>Question</p>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/admin/users">
                            <i class="fas fa-users" style="color: #001166;"></i>
                            <p>Users Information</p>
                        </a>
                    </li>
                </div>

                <div class="menu_section">
                    <h3>Report section</h3>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/admin/saleReport">
                            <i class="fas fa-file-chart-line" style="color: #001166;"></i>
                            <p>Profit Report</p>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/admin/saleReport">
                            <i class="fas fa-file-chart-line" style="color: #001166;"></i>
                            <p>Student Report</p>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/admin/saleReport">
                            <i class="fas fa-file-chart-line" style="color: #001166;"></i>
                            <p>Pass Report</p>
                        </a>
                    </li> 
                </div>
                <div class="menu_section">
                    <h3>Site Pages</h3>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/admin/saleReport">
                            <i class="fa fa-clone" style="color: #001166;"></i>
                            <p>Site Information</p>
                        </a>
                    </li> 
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/admin/saleReport">
                            <i class="fa fa-server" style="color: #001166;"></i>
                            <p>Services</p>
                        </a>
                    </li> 
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/admin/saleReport">
                            <i class="fa fa-commenting-o" style="color: #001166;"></i>
                            <p>Testimonial</p>
                        </a>
                    </li> 
                </div>

                <div class="menu_section">
                    <h3>Settings</h3>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/admin/adminProfile">
                            <i class="material-icons" style="color: #001166;">person</i>
                            <p>Profile</p>
                        </a>
                    </li>
                </div>
                
            </ul>
        </div>
    </div>
</div>
