<div class="container-content">
    <div class="navbar">
        <div class="menu">
            <h3 class="logo">Pluse <span style="color: #001166;">Exam</span></h3>
            <a routerLink="auth/login" *ngIf="!accountStatus" class="text-white btn">Login</a>
            <div class="hamburger-menu" (click)="callFun()">
                <div class="bar"></div>
            </div>
        </div>
    </div>

    <div class="main-container">
        <div class="main">
            <header>
                <video autoplay>
                  <source src="/assets/videos/Cinematic Real estate video tour example 4K _ Laowa 12mm & Sony A7III.mp4" type="video/mp4">
                </video>
            </header>
        </div>

        <div class="shadow one"></div>
        <div class="shadow two"></div>
    </div>

    <div class="links">
        <ul>
            <li>
                <i class="far fa-home icon"></i>
                <a routerLink="/client/home" style="--i: 0.1s;">Home</a>
            </li>
            <li>
                <i class="far fa-camera-alt icon"></i>
                <a href="/client/gallery" style="--i: 0.1s;">Gallary</a>
            </li>
            <!-- <li>
                <i class="far fa-user-cog icon"></i>
                <a href="#" style="--i: 0.15s;">Our Service</a>
            </li> -->
            <li>
                <i class="fal fa-ad icon"></i>
                <a routerLink="/client/advertisement" style="--i: 0.2s;">Advertisement</a>
            </li>
            <li>
                <i class="fal fa-address-book icon"></i>
                <a routerLink="/client/aboutUs" style="--i: 0.25s;">About</a>
            </li>
            <li>
                <i class="far fa-address-card icon"></i>
                <a routerLink="/client/contact" style="--i: 0.3s;">Contact Us</a>
            </li>
        </ul>
    </div>
</div>