@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
.footer-area {
    position: relative;
    z-index: 1;
    overflow-x: hidden
}

.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    /* position relative and z-index fix webkit rendering fonts issue */
    position: relative;
    z-index: 1;
}

.footer-widget-area .featured-properties-slides {
    position: relative;
    z-index: 1
}

.footer-widget-area .featured-properties-slides .owl-prev,
.footer-widget-area .featured-properties-slides .owl-next {
    width: 38px;
    height: 38px;
    position: absolute;
    top: 50%;
    line-height: 40px;
    text-align: center;
    color: #fff;
    left: -19px;
    opacity: 0;
    visibility: hidden;
    margin-top: -19px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    background-color: #d70926;
    font-size: 13px;
    box-shadow: 0 0 5px rgba(255, 255, 255, .15)
}

.footer-widget-area .featured-properties-slides .owl-prev:hover,
.footer-widget-area .featured-properties-slides .owl-next:hover {
    background-color: #000
}

.footer-widget-area .featured-properties-slides .owl-next {
    left: auto;
    right: -19px
}

.footer-widget-area .featured-properties-slides:hover .owl-prev,
.footer-widget-area .featured-properties-slides:hover .owl-next {
    opacity: 1;
    visibility: visible
}

ul li,
ol li {
    list-style: none
}

.footer-area .copywrite-text {
    width: 100%;
    height: 60px;
    background-color: #111113;
    padding: 0 15px
}

.footer-area .copywrite-text p {
    margin-bottom: 0;
    font-size: 12px;
    color: #7d7d7d
}

.footer-area .copywrite-text p a {
    font-size: 12px;
    color: #7d7d7d
}

.section-padding-100-0 {
    padding: 100px 0 0
}

.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat
}

.gradient-background-overlay {
    position: relative;
    z-index: 3
}

.gradient-background-overlay:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    background: -webkit-linear-gradient(top, black 0%, rgba(0, 0, 0, .5) 90%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, .8) 90%, rgba(0, 0, 0, 0) 100%)
}

.footer-widget-area .widget-title {
    margin-bottom: 90px
}

.footer-widget-area .widget-title h6 {
    font-size: 16px;
    color: #fff;
    margin-bottom: 0;
    text-transform: uppercase;
    border-bottom: 2px solid;
    border-color: #d70926;
    line-height: 1.8;
    display: inline-block
}

.footer-widget-area p {
    color: #7d7d7d;
    margin-bottom: 0;
    font-weight: 400
}

.footer-widget-area .weekly-office-hours ul li {
    padding: 15px 0;
    display: block;
    border-bottom: 1px solid #7d7d7d
}

.footer-widget-area .weekly-office-hours ul li span {
    color: #7d7d7d;
    font-size: 14px;
    font-weight: 400
}

.footer-widget-area .weekly-office-hours ul li:first-of-type {
    padding-top: 0
}

.footer-widget-area .address {
    margin-top: 40px
}

.footer-widget-area .address h6 {
    position: relative;
    z-index: 1;
    color: #7d7d7d;
    margin-bottom: 20px;
    display: block;
    font-size: 14px;
    font-weight: 400;
    padding-left: 40px;
    line-height: 1.8
}

.footer-widget-area .address h6 img {
    position: absolute;
    top: 4px;
    z-index: 10;
    left: 0
}

.footer-widget-area .useful-links-nav {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.footer-widget-area .useful-links-nav li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    min-width: 50%
}

.footer-widget-area .useful-links-nav li a {
    padding: 15px 0;
    display: block;
    color: #7d7d7d;
    font-weight: 400;
    text-decoration: none;
}

.footer-widget-area .useful-links-nav li a:first-child,
.footer-widget-area .useful-links-nav li a:nth-child(2) {
    padding-top: 0
}

.footer-widget-area .useful-links-nav li a:hover,
.footer-widget-area .useful-links-nav li a:focus {
    color: #d70926
}

.footer-widget-area .featured-properties-slides {
    position: relative;
    z-index: 1
}

.footer-widget-area .featured-properties-slides .owl-prev,
.footer-widget-area .featured-properties-slides .owl-next {
    width: 38px;
    height: 38px;
    position: absolute;
    top: 50%;
    line-height: 40px;
    text-align: center;
    color: #fff;
    left: -19px;
    opacity: 0;
    visibility: hidden;
    margin-top: -19px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    background-color: #d70926;
    font-size: 13px;
    box-shadow: 0 0 5px rgba(255, 255, 255, .15)
}

.footer-widget-area .featured-properties-slides .owl-prev:hover,
.footer-widget-area .featured-properties-slides .owl-next:hover {
    background-color: #000
}

.footer-widget-area .featured-properties-slides .owl-next {
    left: auto;
    right: -19px
}

.footer-widget-area .featured-properties-slides:hover .owl-prev,
.footer-widget-area .featured-properties-slides:hover .owl-next {
    opacity: 1;
    visibility: visible
}

.mb-100 {
    margin-bottom: 100px
}
