<footer *ngFor="let obj of homeService.homePage" class="footer-area section-padding-100-0 bg-img gradient-background-overlay"
    style="background-image:url(/assets/images/{{obj.footerBackground}}); background-attachment: fixed;">
    <div class="main-footer-area">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-12 col-sm-6 col-xl-3 text-center">
                    <div class="footer-widget-area mb-100">

                        <div class="widget-title">
                            <h6>About Us</h6>
                        </div>
                        <img src="../../assets/images/{{obj.logoLight}}" alt="" width=100>

                        <p>{{obj.footerParagraph}}</p>

                    </div>
                </div>

                <div class="col-12 col-sm-6 col-xl-3" style="margin-left: 100px;">
                    <div class="footer-widget-area mb-100">

                        <div class="widget-title ml-4">
                            <h6 style="margin-left: 50px;">Contact</h6>
                        </div>


                        <div class="address">
                            <h6><i class="fal fa-phone-alt mr-2"></i> {{obj.phoneNumber}}</h6>
                            <h6><i class="fal fa-envelope mr-2"></i> {{obj.email}}</h6>
                            <h6 class="d-flex"><i class="fal fa-map mr-2 mt-2"></i> <span class="d-block">{{obj.address}}</span></h6>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-xl-3" style="margin-left: 75px;">
                    <div class="footer-widget-area mb-100">

                        <div class="widget-title ml-4">
                            <h6 style="margin-left: 30px;">Useful Links</h6>
                        </div>

                        <ul class="useful-links-nav d-flex align-items-center">
                            <li><a routerLink=''>Home</a></li>
                            <li><a routerLink='/aboutUs'>About us</a></li>
                            <li><a routerLink="/course">Courses</a></li>
                            <li><a routerLink="/exam">Exams</a></li>
                            <li><a routerLink="/contact">Contact</a></li>
                            <li><a routerLink="/auth/login">Sign In</a></li>
                            <li><a routerLink="/auth/register">Sign Up</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copywrite-text d-flex align-items-center justify-content-center">
        <p>
            Copyright &copy;
            <script data-cfasync="false"
                src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
            <script>
                document.write(new Date().getFullYear());
            </script> All rights reserved <i aria-hidden="true"></i> by <a href="" target="_blank">{{obj.webSiteName}}</a>

    </div>
</footer>
