@import '../../../assets/admin-dashboard/css/material-dashboard.css';
@import '../../../assets/admin-dashboard/demo/demo.css';
@import '../../../assets/admin-dashboard/css/material-dashboard.min.css';
@import '../../../assets/admin-dashboard/css/material-dashboard.min.css';
@import url('http://font.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #010615;
} */

.boxs {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #060c21;
    margin: 40px;
    transition: 0.5s;
}

.boxs:hover {
    height: 350px;
}

.boxs .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.boxs .imgBx img {
    width: 100%;
    height: 100%;
    opacity: 0.1;
    transition: 0.5s;
}

.boxs:hover .imgBx img {
    opacity: 1;
}

.boxs:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}

.boxs:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}

.boxs:before,
.boxs:after {
    background: linear-gradient(235deg, #96a881, #010615, #00bcd4);
}

.boxs:nth-child(2):before,
.boxs:nth-child(2):after {
    background: linear-gradient(235deg, #ff005e, #010615, #fbff00);
}

.boxs:nth-child(3):before,
.boxs:nth-child(3):after {
    background: linear-gradient(235deg, #772aff, #010615, #2196f3);
}

.boxs.content {
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 90px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
}

.boxs:hover.content {
    opacity: 1;
}

.boxs .content h2 {
    font-size: 20px;
    color: rgb(218, 23, 23);
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
}

.boxs .content h2 span {
    font-size: 14px;
    color: #fff;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: 2px;
}
