
<!-- <div class="body mb-5">
    <div class="container-box" id="container">

        <app-registration></app-registration>

        <app-login></app-login>

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <!-- <p>To keep connected with us please login with your personal info</p> -->
<!--                     <button style="margin-top: 55px;cursor: pointer;" class="ghost" (click)="displaySignIn()" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <!-- <p>Enter your personal details and start journey with us</p> -->
<!--                     <button style="margin-top: 55px;cursor: pointer;" (click)="displaySignUp()" class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>  --> 
