<app-internal-nav-bar></app-internal-nav-bar>
<app-header pageName="Course"></app-header>

<section class="container-fluid px-4 mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12 heading-section text-center ftco-animate mb-5">
            <span class="subheading">Find Your Interest</span>
            <h2 class="mb-2">Search For Courses </h2>
        </div>
    </div>

    <div class="col-12 mb-5 d-flex">
        <div class="main d-flex w-100 m-auto justify-content-center">
            <input type="text" class="rounded d-flex w-50" name="Search" [(ngModel)]='search' name="search"
                (keyup)="courseSearch($event)" placeholder="ex: Angular">
        </div>
    </div>

</section>
<div>
    <div style="margin-bottom: 200px ">
        <div class="container">
            <div class="row justify-content-lg-between justify-content-md-start">
                <app-course-card *ngFor="let course of homeService.courses" [id]="course.id"
                    [courseName]="course.courseName" [description]="course.description"
                    [courseImage]="course.courseImage" class="col-lg-3 col-md-5 col-sm-12 mt-4 mr-4  ml-4 course-card">
                </app-course-card>

            </div>
        </div>
    </div>

    <app-footer></app-footer>
