<app-internal-nav-bar></app-internal-nav-bar>
<app-header  pageName="Course"></app-header>

<div>
    <div style="margin: 200px 0">
        <div class="container">
            <div class="row justify-content-lg-around justify-content-md-start">
                <app-course-card *ngFor="let obj of courses"
                [courseName]="obj.courseName" 
                [courseImage]="obj.courseImage"
                class="col-lg-3 col-md-5 col-sm-12 mt-4 mr-4  ml-4 course-card">
                </app-course-card>
                
            </div>
        </div>
    </div>

    <app-footer></app-footer>