<div class="form-container sign-up-container">

    <form class="example-form" (submit)="createCustomer()" [formGroup]="authService.registerForm">
        <h1 class="mb-3">Create Account</h1>

        <div class="form-group">
            <div class="input-group col-xs-12">
                <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
            </div>
        </div>

        <mat-form-field class="example-full-width w-100" appearance="legacy">
            <mat-label>First Name</mat-label>
            <input type="text" matInput formControlName="firstName">
            <mat-error *ngIf="authService.registerForm.controls.firstName.hasError('required')">
                First Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width w-100" appearance="legacy">
            <mat-label>Last Name</mat-label>
            <input type="text" matInput formControlName="lastName">
            <mat-error *ngIf="authService.registerForm.controls.lastName.hasError('required')">
                Last Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>


        <mat-form-field class="example-full-width w-100" appearance="legacy">
            <mat-label>Username</mat-label>
            <input type="text" matInput formControlName="username">
            <mat-error *ngIf="authService.registerForm.controls.username.hasError('required')">
                Username is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width w-100" appearance="legacy">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email">
            <mat-error *ngIf="authService.registerForm.controls.email.hasError('email') && !authService.registerForm.controls.email.hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="authService.registerForm.controls.email.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width w-100" appearance="legacy">
            <mat-label>Address</mat-label>
            <input type="text" matInput formControlName="address">
            <mat-error *ngIf="authService.registerForm.controls.address.hasError('required')">
                Address is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width w-100" appearance="legacy">
            <mat-label>Phone Number</mat-label>
            <input type="tel" matInput formControlName="phoneNumber">
            <mat-error *ngIf="authService.registerForm.controls.phoneNumber.hasError('required')">
                Phone Number is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="legacy">
            <mat-label>Enter your password</mat-label>
            <input matInput formControlName="password" (change)="onPasswordChange()" [type]="hide ? 'password' : 'text'">
            <button class="border-0 hide-password" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
            <mat-error *ngIf="authService.registerForm.controls.password.hasError('required')">
                Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="authService.registerForm.controls.password.hasError('minLength') || !authService.registerForm.controls.password.hasError('required')">
                Password must be at least 8 character
            </mat-error>
        </mat-form-field>

        <button>Sign Up</button>
    </form>
</div>