<!-- Course Card -->
<div class="test" (click)="goToCourseProfile()">
    <div class="img-con col-md-12">
        <div class="course-img col-md-12"
            style="background-image: url('../../../../assets/images/course_images/{{ courseImage }}')"></div>
    </div>

    <!-- Course Content (Header, Description)-->
    <div class="course-content mt-4 ml-1 mr-1">
        <!-- Header -->
        <div>
            <a class="course-title">{{ courseName | titlecase }}</a>
        </div>

        <!-- Description -->
        <p class="mt-2">
            {{ description }}
        </p>
    </div>
</div>