<!-- Course Card -->
<div class="test">
<div class="img-con col-md-12">
<div class="course-img col-md-12" style="background-image: url({{courseImage}});"></div>
</div>

<!-- Course Content (Header, Description)-->
<div class="course-content mt-4 ml-1 mr-1">
    <!-- Header -->
    <div>
        <a class="course-title">{{courseName}}</a>
    </div>

    <!-- Description -->
    <p class="mt-2">
        Mini MBA, best described as a compressed MBA for practitioners, is focused on
        developing the
        most important business skills.
    </p>
</div>
</div>
