<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco_navbar_light" id="ftco-navbar">
    <div class="container">
        <div>
            <a routerLink="" routerLinkActive="router-link-active">
                <img src="../../assets/images/dark-full-logo.svg" width="82" height="82" />
            </a>
        </div>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <div class="slash" id="slash1"></div>
            <div class="slash" id="slash2"></div>
            <div class="slash" id="slash3"></div>
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav navbar font-weight-bold" style="margin-left: 30px;">

                <!-- Home -->
                <li class="nav-item"><a routerLinkActive="active" routerLink=""
                        class="nav-link pls-pri-col link-font-size">Home</a></li>

                <!-- About -->
                <li class="nav-item"><a routerLink="/aboutUs"
                        class="under-line nav-link pls-pri-col link-font-size">About</a></li>

                <!-- Course -->
                <li class="nav-item"><a routerLink="/course" class="nav-link pls-pri-col link-font-size">Courses</a>
                </li>

                <!-- Exam -->
                <li class="nav-item"><a routerLink="/exam" class="nav-link pls-pri-col link-font-size">Exams</a>
                </li>

                <!-- Contact -->
                <li class="nav-item"><a routerLink="/contact" class="nav-link pls-pri-col link-font-size">Contact</a>
                </li>

                <!-- Sign In  (Small Devices) -->
                <li class="nav-item" id="sign-in-sm"><a routerLink="/auth/login"
                        class="nav-link pls-pri-col link-font-size">Sign
                        In</a>
                </li>

                <li class="nav-item" *ngIf="accountStatus && (userService.selectedUser != null)">
                    <div class="dropdown">
                        <a class="btn mat-stroked-button font-weight-normal pt-2 border-0 dropdown-toggle" href="#"
                            role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            {{userService.selectedUser.username}}
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="http://localhost:65406/">Dashboard</a>
                            <button class="dropdown-item" (click)="logOut()">Log out</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse justify-content-end" id="ftco-nav">
            <ul class="navbar-nav navbar font-weight-bold">
                <li>
                    <button class="sign-in-btn" id="sign-in-lg" routerLink="/auth/login">
                        Sign In
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>