<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand logo font-weight-bold"><span class="text-white">Plus </span> <span class="font-weight-bold" style="color: #001166;;">Exam</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="oi oi-menu"></span> Menu
  </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav navbar font-weight-bold ml-auto" style="background-color: #001166;">
                <li class="nav-item"><a routerLinkActive="active" routerLink="/client/home" class="nav-link">Home</a></li>
                <li class="nav-item"><a routerLink="/client/gallery" class="nav-link">Gallery</a></li>
                <li class="nav-item"><a routerLink="/client/advertisement" class="nav-link">Advertisement</a></li>
                <li class="nav-item"><a routerLink="/client/aboutUs" class="nav-link">About</a></li>
                <li class="nav-item"><a routerLink="/client/contact" class="nav-link">Contact</a></li>

                <li class="nav-item" *ngIf="!accountStatus"><a routerLink="/auth/login" class="nav-link">Login</a></li>
                <li class="nav-item" *ngIf="accountStatus && (userService.selectedUser != null)">
                    <div class="dropdown">
                        <a class="btn mat-stroked-button font-weight-normal pt-2 border-0 dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{userService.selectedUser.username}}
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="http://localhost:65406/">Dashboard</a>
                            <button class="dropdown-item" (click)="logOut()">Log out</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>