<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark" id="ftco-navbar" [class.header_change]="isScrolled"
    [class.ftco_navbar_light]="!isScrolled">
    <div class="container">
        <div>
            <img src="../../assets/images/Full-Logo.svg" width="82" height="82" />
        </div>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav navbar font-weight-bold ml-auto">
                <li class="nav-item"><a routerLinkActive="active" routerLink="/client/home"
                        class="nav-link pls-pri-col link-font-size">Home</a></li>
                <li class="nav-item"><a routerLink="/aboutUs" class="nav-link pls-pri-col link-font-size">About</a></li>
                <li class="nav-item"><a routerLink="/gallery" class="nav-link pls-pri-col link-font-size">Courses</a>
                </li>
                <li class="nav-item"><a routerLink="/contact" class="nav-link pls-pri-col link-font-size">Contact</a>
                </li>

                <li class="nav-item" *ngIf="!accountStatus"><a routerLink="/auth/login"
                        class="nav-link pls-pri-col link-font-size">Login</a></li>
                <li class="nav-item" *ngIf="accountStatus && (userService.selectedUser != null)">
                    <div class="dropdown">
                        <a class="btn mat-stroked-button font-weight-normal pt-2 border-0 dropdown-toggle" href="#"
                            role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            {{userService.selectedUser.username}}
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="http://localhost:65406/">Dashboard</a>
                            <button class="dropdown-item" (click)="logOut()">Log out</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>