<app-internal-nav-bar></app-internal-nav-bar>

<div class="container-fluid p-0" style="margin-top: 150px; margin-bottom: 260px;">

    <!-- Exam Header Container -->
    <div class="container my-5">

        <!-- Course Name -->
        <div class="container">
            <div class="row justify-content-center">
                <span class="title font-size-40" title="Course Name"> {{ homeService.exams.title }} </span>
            </div>
        </div>

        <!-- Separator -->
        <hr class="mx-auto separator" />

        <!-- Exam Name -->
        <div class="container">
            <div class="row justify-content-center">
                <span class="title font-size-35" title="Exam Name"> {{ homeService.exams.courseName }} </span>
            </div>
        </div>

    </div>

    <!-- Exam Body Container -->
    <div class="container my-5">

        <div class="row justify-content-around">

            <!-- Navigate Side (Left Container) -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">

                <!-- Timer Container -->
                <div class="row justify-content-center mb-3">

                    <div class="border-3px w-100">
                        <div class="m-auto" style="width: fit-content;">
                            <!-- Timer -->
                            <span class="font-family-digital text-center">{{ timerExam }}</span>
                        </div>
                    </div>

                </div>

                <!-- Navigator Container -->
                <div class="row border-3px">
                    <div class="w-100 pb-5">

                        <!-- Question Nav Container -->
                        <div class="row justify-content-start m-1 questions-navigator-containter">

                            <!-- Question Nav Component -->
                            <div class="border-1px m-1 p-1 question-container"
                                *ngFor="let question of homeService.examContent; let i=index" id="q{{ i }}"
                                (click)="transport(i)">
                                <p class="text-center font-weight-bold m-0 font-family-tahoma">Q{{i+1}}
                                </p>
                            </div>

                        </div>

                    </div>


                    <!-- Submit All Button -->
                    <div class="container d-flex mb-3">
                        <button class="btn btn-primary m-auto d-block submit-btn font-weight-bold"
                            (click)="openDialog('10ms', '10ms')">
                            Submit All
                        </button>

                        <ng-template #submitDialog>
                            <h1 mat-dialog-title>Submit And Finish</h1>
                            <div mat-dialog-content style="width: 500px;">
                                Do you want to finish the exam?
                            </div>
                            <div mat-dialog-actions>
                                <button mat-button mat-dialog-close>Back</button>
                                <button mat-button mat-dialog-close cdkFocusInitial (click)="submit()">Yes</button>
                            </div>
                        </ng-template>
                    </div>

                </div>
            </div>

            <!-- Question Side (Right Container) -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 px-0">
                <div style="height:fit-content; width: 100%; overflow-y: hidden;" id="parentContainer"
                    (window.resize)="onResize()">
                    <div id="slider" style="transition: 0.5s;">

                        <app-question *ngFor="let question of homeService.examContent; let i = index"
                            [questionNumber]="i+1" [question]="question.question" [options]="question.options">
                        </app-question>

                    </div>
                </div>
                <div class=" col-12 mb-4 mt-md-3 mt-sm-3 mt-lg-3 mt-xl-0">
                    <div class="row justify-content-center">
                        <button class="btn btn-primary d-block mx-3 transporter-btn" id="prevBtn"
                            (click)="transport(currentQuestionNumber-1)">Previous</button>
                        <button class="btn btn-primary d-block mx-3 transporter-btn" id="nextBtn"
                            (click)="transport(currentQuestionNumber+1)">Next</button>
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>

<app-footer></app-footer>