.property-wrap {
    margin-bottom: 60px
}

@media (max-width:767.98px) {
    .property-wrap {
        margin-bottom: 40px
    }
}

.property-wrap .img {
    display: block;
    width: 100%;
    height: 250px
}

.property-wrap .text {
    position: relative;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    margin-top: -65px;
    margin-left: 0px;
    background: #fff;
    -webkit-box-shadow: 0 5px 21px -14px rgba(0, 0, 0, .14);
    -moz-box-shadow: 0 5px 21px -14px rgba(0, 0, 0, .14);
    box-shadow: 0 5px 21px -14px rgba(0, 0, 0, .14);
    padding: 25px;
    border-radius: 200px 0px;
}

.property-wrap .text h3 {
    font-size: 18px;
    margin-left: 80px;
}

@media (min-width:768px) {
    .property-wrap .text {
        width: 90%
    }
}

@media (max-width:991.98px) {
    .property-wrap .text {
        width: 90%;
        margin-left: 10px
    }
}

.property-wrap .text p.price span {
    font-size: 16px;
    font-weight: 600
}

.property-wrap .text p.price span.orig-price {
    color: #000
}

.property-wrap .text p.price span.old-price {
    color: rgba(0, 0, 0, .6);
    position: relative;
    margin-right: 20px;
}

.property-wrap .text p.price span.old-price:after {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: #000;
    content: ''
}

.property-wrap .text p.price small {
    font-size: 14px;
    color: rgba(0, 0, 0, .4)
}

.property-wrap .text ul {
    padding: 0;
    margin-top: 20px;
    margin-left: 30px;
}

.property-wrap .text ul li {
    font-size: 16px;
    display: inline-block;
    margin-right: 20px;
    list-style: none;
}

.property-wrap .text ul li span {
    margin-right: 5px
}

.property-wrap .text .btn-custom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: #e86ed0;
    border-radius: 50% 0 0 0
}

.property-wrap .text .btn-custom span {
    color: #fff
}

.property-wrap:hover .text {
    -webkit-box-shadow: 0 5px 39px -14px rgba(0, 0, 0, .26);
    -moz-box-shadow: 0 5px 39px -14px rgba(0, 0, 0, .26);
    box-shadow: 0 5px 39px -14px rgba(0, 0, 0, .26)
}

.flaticon-bed:before {
    content: "\f104"
}

.flaticon-bathtub:before {
    content: "\f105"
}

.flaticon-floor-plan:before {
    content: "\f106"
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon'!important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
