<div class="content dark-edition bg-white w-100">
    <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats" style="background-color: #f9f9f9;">
                <div class="card-header  card-header-icon">
                    <div class="card-icon" style="background-color: #001166;"> 
                        <i class="fas fa-users"></i>
                    </div>
                    <p class="card-category font-weight-bold" style="font-family: fantasy; color: #001166; font-size: 17px;">No.of Users</p>
                    <h3 class="card-title" style="color: #001166; font-size: 25px; font-weight: bold;">{{ numOfUser | number}}</h3>
                </div>
                <div class="card-footer">
                    <a routerLink="/admin/users" class="card-link" style="color: #001166;font-weight: 600;">See Details <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats" style="background-color: #f9f9f9;">
                <div class="card-header  card-header-icon">
                    <div class="card-icon" style="background-color: #001166;"> 
                        <i class="fa fa-book"></i>
                    </div>
                    <p class="card-category font-weight-bold" style="color: #001166; font-size: 17px; font-family: fantasy;"> No.of Course</p>
                    <h3 class="card-title" style="color: #001166; font-size: 25px; font-weight: bold;">{{ numOfCourse }}</h3>
                </div>
                <div class="card-footer">
                    <a routerLink="/admin/courses" class="card-link" style="color: #001166;font-weight: 600;">See Details <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats" style="background-color: #f9f9f9;">
                <div class="card-header  card-header-icon">
                    <div class="card-icon" style="background-color: #001166;"> 
                        <i class="material-icons">library_books</i>
                    </div>
                    <p class="card-category font-weight-bold" style="color: #001166; font-size: 17px; font-family: fantasy;"> No.of Exam</p>
                    <h3 class="card-title" style="color: #001166; font-size: 25px; font-weight: bold;">{{numOfUser}}</h3>
                </div>
                <div class="card-footer">
                    <a routerLink="/admin/users" class="card-link" style="color: #001166;font-weight: 600;">See Details <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats" style="background-color: #f9f9f9;">
                <div class="card-header  card-header-icon">
                    <div class="card-icon" style="background-color: #001166;"> 
                        <i class="material-icons">library_books</i>
                    </div>
                    <p class="card-category font-weight-bold" style="color: #001166; font-size: 17px; font-family: fantasy;">No.of Question</p>
                    <h3 class="card-title" style="color: #001166; font-size: 25px; font-weight: bold;">{{numOfUser}}</h3>
                </div>
                <div class="card-footer">
                    <a routerLink="/admin/users" class="card-link" style="color: #001166;font-weight: 600;">See Details <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div> 
    </div>

    <!-- Last 5 Process on System -->
    <div class="row">
        <div class="col-lg-12 col-md-12 mb-30">
            <div class="card">
                <div class="card-header card-header-info">
                    <h4 class="card-title" style="font-family: 'FontAwesome'; font-weight: 600;">Last 5 Processes on system</h4>
                </div>
                <div class="card-body">
                    <div class="tab nav-border">
                        <ul class="nav nav-tabs py-3" role="tablist">
                             <li class="nav-item">
                                <button class="nav-link active show btn btn-sm btn-primary" id="home-01-tab" data-toggle="tab" href="#home-01"
                                   role="tab" aria-controls="home-01"
                                   aria-selected="true">User</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link btn btn-sm btn-primary" id="home-02-tab" data-toggle="tab" href="#home-02"
                                   role="tab" aria-controls="home-02"
                                   aria-selected="true">Course</button>
                            </li>


                            <li class="nav-item">
                                <button class="nav-link btn btn-sm btn-primary" id="profile-02-tab" data-toggle="tab" href="#profile-02"
                                   role="tab" aria-controls="profile-02"
                                   aria-selected="false">Exam</button>
                            </li>
                        </ul>
                        <div class="tab-content">
                        <div class="tab-pane fade active show" id="home-01" role="tabpanel"aria-labelledby="home-01-tab">
                          <table  class="table table-hover table-sm table-bordered p-0" style="width:100%;text-align: center">
                          <thead style="background-color: #001166;">
                            <tr>
                              <th style="font-weight: bold;color: #fff;">#</th>
                              <th style="font-weight: bold;color: #fff;">Full Name</th>
                              <th style="font-weight: bold;color: #fff;">User Name</th>
                              <th style="font-weight: bold;color: #fff;">Email</th>
                              <th style="font-weight: bold;color: #fff;">Role</th>
                            </tr>
                          </thead>
                          <tbody class="font-weight-bold">
                            <tr *ngFor="let item of lastFiveUser let i = index;" class="text-white">
                              <td>{{ i+1 }}</td>
                              <td>{{ item.fullname }}</td>
                              <td>{{ item.username }}</td>
                              <td>{{ item.email }}</td>
                              <td>{{ item.rolename }}</td>
                           </tr>
                          </tbody>
                        </table>
                     </div>

                    <div class="tab-pane fade" id="home-02" role="tabpanel"aria-labelledby="home-02-tab">
                      <table  class="table table-hover table-sm table-bordered p-0" style="width:100%;text-align: center">
                      <thead style="background-color: #001166;">
                        <tr>
                          <th style="font-weight: bold;color: #fff;">#</th>
                          <th style="font-weight: bold;color: #fff;">Course Name</th>
                          <th style="font-weight: bold;color: #fff;">Description</th>
                          <th style="font-weight: bold;color: #fff;">Status</th>
                        </tr>
                      </thead>
                      <tbody class="font-weight-bold">
                        <tr *ngFor="let course of lastFiveCourse let i = index;">
                          <td>{{i+1}}</td>
                          <td>{{ course.courseName }}</td>
                          <td>{{ course.description }}</td>
                          <td>{{ course.status }}</td>
                       </tr>
                      </tbody>
                    </table>
                   </div>
                            
                    <div class="tab-pane fade" id="profile-02" role="tabpanel" aria-labelledby="profile-02-tab">
                     <br>
                     <table class="table table-hover table-sm table-bordered p-0" style="width:100%;text-align: center">
                      <thead class="bg-dark text-white font-weight-bold">
                        <tr>
                           <th>#</th>
                          <th>Patient Name</th>
                          <th>Doctor Name</th>
                          <th>Appointment Time</th>
                          <th>Appointment Date</th>
                        </tr>
                      </thead>
                      <tbody class="font-weight-bold">
                    
                           
                        <tr>
                          <td>1</td>
                          <td>qq</td>
                          <td>aa</td>
                          <td>www</td>
                         <td>dd</td>
                       </tr>
                       
               
                      </tbody>
                    </table>
                            </div>
                            <!-- /End This code to display images -->
                        </div>
                    </div>
					
                </div>
            </div>
        </div>
    </div>
    <!-- /End last process in system -->


    <!-- FullCalender Package -->
    <full-calendar [options]="calendarOptions"></full-calendar>
    <!-- /End FullCalender Package -->
</div>
