<div class="dark-edition">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Edit Profile</h4>
            <p class="card-category">Complete your profile</p>
        </div>
        <div class="card-body">
            <form [formGroup]="userService.updateForm" (submit)="sendData()">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width w-100" appearance="standard">
                            <label class="bmd-label-floating">Email</label>
                            <input type="email" class="py-1 pl-2" matInput formControlName="email">
                            <mat-error *ngIf="userService.updateForm.controls.email.hasError('email') && !userService.updateForm.controls.email.hasError('required')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="userService.updateForm.controls.email.hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width w-100" appearance="standard">
                            <label class="bmd-label-floating">Username</label>
                            <input type="text" class="py-1 pl-2" matInput formControlName="username">
                            <mat-error *ngIf="userService.updateForm.controls.username.hasError('required')">
                                Username is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width w-100" appearance="standard">
                            <label class="bmd-label-floating">Fist Name</label>
                            <input type="text" class="py-1 pl-2" matInput formControlName="firstName">
                            <mat-error *ngIf="userService.updateForm.controls.firstName.hasError('required')">
                                Fist Name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                    </div>
                    <div class="col-md-6">

                        <mat-form-field class="example-full-width w-100" appearance="standard">
                            <label class="bmd-label-floating">Last Name</label>
                            <input type="text" class="py-1 pl-2" matInput formControlName="lastName">
                            <mat-error *ngIf="userService.updateForm.controls.lastName.hasError('required')">
                                Last Name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">

                        <mat-form-field class="example-full-width w-100" appearance="standard">
                            <label class="bmd-label-floating">Phone Number</label>
                            <input type="text" disabled class="py-1 pl-2" matInput [value]="userService.selectedUser.phoneNumber">
                        </mat-form-field>

                    </div>
                    <div class="col-md-6">

                        <mat-form-field class="example-full-width w-100" appearance="standard">
                            <label class="bmd-label-floating">Address</label>
                            <input type="text" class="py-1 pl-2" matInput formControlName="address">
                            <mat-error *ngIf="userService.updateForm.controls.address.hasError('required')">
                                Address is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-group ml-3">
                        <div class="input-group col-xs-12">
                            
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>
