h1 {
    font-weight: bold;
    margin: 0;
}

h2 {
    text-align: center;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

button:not(.hide-password) {
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #dd1313;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active:not(.hide-password) {
    transform: scale(0.95);
}

button:focus:not(.hide-password) {
    outline: none;
}

button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.right-panel-active .sign-in-container {
    transform: translateX(100%);
}


/* svg:not(:root) {
    overflow: hidden;
}

.main-wrapper {
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
}

.upload-main-wrapper {
    width: 200px;
}

#file-upload-name {
    font-size: 12px;
}

.upload-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    background-color: #bcaef5;
    padding: 8px 10px;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.2s linear all;
    color: #ffffff;
}

.upload-wrapper input[type="file"] {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 1;
}

.upload-wrapper>svg {
    width: 30px;
    height: auto;
    cursor: pointer;
}

.upload-wrapper.success>svg {
    transform: translateX(-200px);
}

.upload-wrapper.uploaded {
    transition: 0.2s linear all;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    text-align: center;
}

.upload-wrapper .file-upload-text {
    position: absolute;
    left: 80px;
    opacity: 1;
    visibility: visible;
    transition: 0.2s linear all;
}

.upload-wrapper.uploaded .file-upload-text {
    text-indent: -999px;
    margin: 0;
}

.file-success-text {
    opacity: 0;
    transition: 0.2s linear all;
    visibility: hidden;
    transform: translateX(200px);
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-success-text svg {
    width: 25px;
    height: auto;
}

.file-success-text span {
    margin-left: 15px;
}

.upload-wrapper.success .file-success-text {
    opacity: 1;
    visibility: visible;
    transform: none;
}

.upload-wrapper.success.uploaded .file-success-text {
    opacity: 1;
    visibility: visible;
    transform: none;
}

.upload-wrapper.success.uploaded .file-success-text span {
    display: none;
}

.upload-wrapper .file-success-text circle {
    stroke-dasharray: 380;
    stroke-dashoffset: 380;
    transition: 1s linear all;
    transition-delay: 1.4s;
}

.upload-wrapper.success .file-success-text circle {
    stroke-dashoffset: 0;
}

.upload-wrapper .file-success-text polyline {
    stroke-dasharray: 380;
    stroke-dashoffset: 380;
    transition: 1s linear all;
    transition-delay: 2s;
}

.upload-wrapper.success .file-success-text polyline {
    stroke-dashoffset: 0;
}

.upload-wrapper.success .file-upload-text {
    -webkit-animation-name: bounceOutLeft;
    animation-name: bounceOutLeft;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounceOutLeft {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(20px, 0, 0);
        transform: translate3d(20px, 0, 0);
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0);
    }
}

@keyframes bounceOutLeft {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(20px, 0, 0);
        transform: translate3d(20px, 0, 0);
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0);
    }
} */
