<div class="overflow-hidden dark-edition bg-white">
    <div class="wrapper">
        <app-side-bar></app-side-bar>
        <div class="main-panel">
            <app-nav-bar></app-nav-bar>

            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 mb-30">
                            <div class="card card-statistics h-100">
                                        <div class="card-body">
                                        <div class="x_panel">
                                          <div class="x_title">
                                            <h2>Courses Information</h2>
                                            <ul class="nav navbar-right panel_toolbox">
                                              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                              </li>
                                            </ul>
                                            <div class="clearfix"></div>
                                          </div>
                                          <div class="x_content">
                                              <div class="row">
                                                  <div class="col-sm-12">
                                                    <div class="card-box table-responsive">
                                            <p class="text-muted font-13 m-b-30">
                                                <a asp-action="Create" class="btn btn-outline-primary btn-lg" role="button"
                                               aria-pressed="true">Add Course</a>
                                               <br><br>
                                            </p>
                                            <table id="datatable-fixed-header" class="table table-hover table-sm table-bordered p-0" style="width:100%;text-align: center">
                                              <thead class="bg-dark text-white font-weight-bold">
                                                <tr>
                                                    <th>#</th>
                                                  <th>name</th>
                                                  <th>des</th>
                                                  <th>Image</th>
                                                  <th>Processes</th>
                                                </tr>
                                              </thead>
                                              <tbody class="font-weight-bold">
                                             
                                                   
                                                <tr>
                                                  <td>1</td>
                                                  <td>ab</td>
                                                  <td>ddd</td>
                                                  <td><img  alt="iamge @item.Id" width=100 height=100/></td>
                                                  <td>
                                                    <a class="btn btn-info btn-sm" role="button" aria-pressed="true" title="Edit"><i class="fa fa-edit"></i></a> 
                                                    <a data-target="#Delete_Clinic_@item.Id" data-toggle="modal" class="btn btn-danger btn-sm text-white" role="button" aria-pressed="true" title="Delete" style="cursor:pointer;"><i class="fa fa-trash"></i></a>
                                                  </td>
                                               </tr>
                
                                              </tbody>
                                            </table>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                   </div>
                                  </div>
                                  </div>
                                  </div>
                        
                        </div>
                </div>
            </div>

        </div>
    </div>
</div>

