<div class="container">
    <!-- Testimonial Cards-->
    <div class="row">
        <div class="container">

            <!-- Profile Pic -->
            <div class="personal-img m-auto"
                style="background-image: url('../../../../assets/images/{{ profileImage }}');">

            </div>

            <!-- Message Container -->
            <div class="row testi-msg-card">

                <!-- Name -->
                <div class="container">
                    <h3 class="text-center"> {{ name }} </h3>
                </div>

                <!-- Title -->
                <div class="container mb-3">
                    <h5 class="text-center"> {{ title }} </h5>
                </div>

                <!-- Message -->
                <div class="container h-50">
                    <p class="text-center"> {{ message }} </p>
                </div>
            </div>
        </div>
    </div>
</div>